.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f9fc;
  }

  .login-div{
    max-width: 100%;
    border-radius: 2%;
    background-color: #fff;
  }

  .titulo {
    font-size:  40px;
    font-weight: bold;
  }

  .form-control {
    width: 100%;
  }

  .btn-ingresar {
    background-color: #238eff;
    border: none;
  }

  .btn-ingresar:hover {
    background-color: #0056b3;
  }