<div class="container my-4 text-center">
  <app-logout></app-logout>
  <h2 class="text-center">Consulta de Pedidos</h2>
  
  <div class="table-responsive d-flex justify-content-center">
    <table class="table table-striped table-bordered w-115">
      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>FECHA</th>
          <th>TOTAL</th>
          <th>ESTADO</th>
          <th>DETALLE</th>
          <th>ACCIONES</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{ pedido.idpedido }}</td>
          <td>{{ pedido.usuarioIdusuario | usuario:usuario }}</td>
          <td>{{ pedido.fechaH }}</td>
          <td>{{ pedido.total }}</td>
          <td>{{ pedido.estadoIdestado | estado:estado }}</td>
          <td>
            <ul>
              <li *ngFor="let detalle of pedido.detalles">
                Cantidad: {{ detalle.cantidad }},
                Precio: {{ detalle.precio }},
                Platillo: {{ detalle.platilloIdplatillo | platillo: platillos }}
              </li>
            </ul>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Cambiar Estado
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let e of estado">
                  <a class="dropdown-item fs-5" (click)="actualizarEstado(pedido, e.idestado)">
                    <span class="fw-bold">{{ e.estado }}</span> 
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
